@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* End of reset */

body {
  background-color: #000;
  color: #fff;
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: #fff;
  text-decoration: none;
}

a.active {
  border-bottom: 2px solid #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

header h1 {
  width: 64px;
}

header nav a {
  margin-left: 10px;
  padding-bottom: 5px;
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

div.overlay h2 {
  font-size: 32px;
  line-height: 1.2;
  position: absolute;
  top: -20px;
  left: -20px;
}

div.photo {
  position: relative;
  width: 300px;
  margin: 15px;
}

div.photo:hover div.overlay {
  opacity: 1;
}

section.photos {
  max-width: 1080px;
  margin: 150px auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
}

div.large {
  width: 400px;
}

div.small {
  width: 250px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

footer nav {
  display: flex;
  align-items: center;
}

footer nav a {
  margin-top: -4px;
}

footer nav img {
  width: 20px;
  margin-left: 20px;
}
