@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

/* Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* End of reset */

body {
  position: relative;
  background-color: #000;
  color: #fff;
  font-family: "Work Sans";
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
}
a {
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
}

header h1 {
  width: 64px;
}

header nav a {
  margin-left: 10px;
  padding-bottom: 5px;
  border-bottom: solid 2px rgba(0, 0, 0, 0);
  transition: border-color 300ms ease-in;
}

header nav a:hover {
  border-color: #555;
}

header nav a.active {
  border-color: #fff;
}

div.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: 2;
}

div.overlay h2 {
  font-size: 32px;
  line-height: 1.2;
  position: absolute;
  top: -20px;
  left: -20px;
}

div.photo {
  position: relative;
  width: 300px;
  margin: 15px;
}

div.photo img {
  transition: filter 300ms;
}

div.photo:hover img {
  filter: grayscale(100%);
}

div.photo:hover div.overlay {
  opacity: 1;
}

section.photos {
  max-width: 1080px;
  margin: 150px auto 100px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 0 10px;
}

div.large {
  width: 400px;
}

div.small {
  width: 250px;
}

/* List page styles */

section.list a img {
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
  pointer-events: none;
  transition: opacity 300ms ease-in-out;
}

section.list {
  max-width: 640px;
  margin: 150px auto 75px auto;
  font-size: 48px;
  line-height: 1.2;
  padding-bottom: 2.5rem;
}

section.list a:hover img {
  opacity: 1;
}

footer.list-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

section.list a::after {
  content: "/";
}

section.list a:last-child::after {
  content: "";
}
/* End of list page styles */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

footer nav {
  display: flex;
  align-items: center;
}

footer nav a {
  margin-top: -4px;
}

footer nav img {
  width: 20px;
  margin-left: 20px;
}
/* Media Queries */

@media (max-width: 650px) {
  section.list {
    padding: 0 30px;
    font-size: 40px;
  }
  header {
    background-color: rgba(0, 0, 0, 0.8);
  }

  section.list a img {
    max-width: 350px;
  }
}

@media (max-width: 370px) {
  footer.list-footer {
    position: initial;
  }
}

@media (max-width: 275px) {
  header {
    display: block;
    text-align: center;
  }

  header h1 {
    margin: 0 auto;
  }

  header nav {
    margin-top: 20px;
  }

  section.list {
    margin-top: 200px;
  }

  section.list a img {
    max-width: 200px;
  }
}
